<center>
 	<div class="container">
 		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: rgba(100,100,100,0.7);">
 			<h2>Sorry,  but the file you were looking for could not be found</h2>
 		</div>
	</div>
</center>