
<ul class="nav nav-tabs nav-justified">
	 <li class="active"><a href="">Vehicles</a></li>
	 <li><a href="customers">Customers</a></li>
	 <li><a href="signout">Sign out</a></li>
</ul>
<center>	
	<div class="container">	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: rgba(100,100,100,0.7);">
			<h4>Welcome back, {{firstname}}</h4>
			<p>Here is a list of vehicles yet to start their journey.</p>
				{{{vehicles}}}
			<button class="btn btn-primary"><a href="add_vehicle">Add vehicle</a></button>
		</div>
	</div>
</center>